name: Deploy to Kubernetes

on:
  push:
    branches: [ main ]  # Thay đổi thành branch chính của bạn nếu cần

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v3
    
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2
    
    - name: Login to Google Container Registry
      uses: docker/login-action@v2
      with:
        registry: us-central1-docker.pkg.dev
        username: _json_key
        password: ${{ secrets.GCP_SA_KEY }}
    
    - name: Build and push Docker image
      uses: docker/build-push-action@v4
      with:
        context: .
        push: true
        tags: us-central1-docker.pkg.dev/aagi-raw-band-downloader/mongodb-fts-api/mongodb-fts-api:latest
    
    - name: Install kubectl
      uses: azure/setup-kubectl@v3
      with:
        version: 'v1.24.0'  # Chọn phiên bản phù hợp
    
    - name: Configure kubeconfig
      run: |
        echo "${{ secrets.KUBE_CONFIG }}" > kubeconfig.yaml
        export KUBECONFIG=./kubeconfig.yaml
    
    - name: Deploy to Kubernetes
      run: |
        kubectl set image deployment/mongodb-fts-api -n mongodb-fts fastapi-app=us-central1-docker.pkg.dev/aagi-raw-band-downloader/mongodb-fts-api/mongodb-fts-api:latest
        kubectl rollout status deployment/mongodb-fts-api -n mongodb-fts